venv
site
.env
docs/DAW/DAW_1/BBDD/repositorios/
docs/DAW/DAW_2/AWS/admin
docs/SMX/SMX_1/AO/admin
docs/SMX/SMX_2/Opt_Python/admin
docs/FPB/FPB_1/MMSCI/admin
docs/DAW/DAW_1/PRG/repositorios
docs/Especializcion/IABD/Recursos-20260602/chef_mistral_flask/.env
docs/Especializcion/IABD/Recursos-20260602/corrector_gramatical/.env