.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.by-nc-nd-eu_ {
  width:10rem
}

.symbols {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.potencias {
  width: 35%;
}

.operadores {
  text-align: center !important;
}

.m_archivo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.m_ver {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

.doscinco {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.cincozero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.sietecinco {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.cien {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
