.img1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.by-nc-nd-eu_ {
  width:10rem
}

.symbols {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.potencias {
  width: 35%;
}

.operadores {
  text-align: center !important;
}
